<!DOCTYPE html>
<html>
  <head>
    <title>Dat Blog…</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
    <link rel="apple-touch-icon" sizes="60x60" href="/static/icons/apple-touch-icon-60x60.png" />
    <link rel="apple-touch-icon" sizes="120x120" href="/static/icons/apple-touch-icon-120x120.png" />
    <link rel="apple-touch-icon" sizes="180x180" href="/static/icons/apple-touch-icon-180x180.png" />

    <link rel="stylesheet" href="/styles/importer.css">
  </head>

  <body>
    <div class="blog">
      <%- app %>
    </div>

    <script type="application/json">
    <%- JSON.stringify(data) %> 
    </script>
    <!--SCRIPTS-->
    <script src="/js/app.0.1.0.js"></script>
    <!--SCRIPTS END-->
  </body>
</html>