<a href="/entry/index/">Back to the Blog</a>

<h2><%= model.title %></h2>
<p><%= model.content %></p>
<ul>
  <li><a href="/entry/edit/<%= model.id %>">Edit</a></li>
  <li class="delete"><a href="/entry/delete/<%= model.id %>">Delete</a></li>
</ul>
